= simple_form_for(User.new, :as => resource_name, :url => registration_path(resource_name)) do |f|
  = f.error_notification
  .form-inputs
    .row
      .column
        = f.input :email, required: true, autofocus: true, placeholder: 'E-mail', label: false
    .row
      .column
        = f.input :password, required: true, placeholder: 'Пароль', label: false
    .row
      .column
        = f.input :password_confirmation, required: true, placeholder: 'Подтвердите пароль', label: false
  .form-actions
    .row
      .large-4.column
        = f.button :submit, 'Зарегистрироваться', class: 'tiny' 
//= render "devise/shared/links"
