- arr = [3,6,3]
- discussions.each_slice(3) do |disc_gr|
  - arr.shuffle!
  .row
    - disc_gr.each_with_index do |disc, i|
      .columns{class: "large-#{arr[i]}"}
        .panel.main-panel
          %h5= truncate(disc.title, length: 17)
          %p= truncate(disc.short, length: 17)
