.so-discussion-popup
  .title
    = discussion.title
  .description
    = discussion.description

  .content
    .so-discussion-posts-list
      - if posts.present?
        = render 'posts_list', posts: posts
    .so-new-post
      - if user_signed_in?
        = simple_form_for [discussion, Post.new], remote: true do |f|
          = f.input :content, input_html: { maxlength: 20 }, label: false
          = f.button :submit, class: 'send-post'
