$('#so-discussions-list').append("#{ j(render 'discussions', discussions: @discussions) }");

$('a#load-more-discussions').attr('href', '#{discussions_path page: @discussions.next_page}');
 
- unless @discussions.next_page
  $('a#load-more-discussions').remove();
