<% if params[:page].present? %>
$('.so-discussion-posts-list').html("<%= j(render 'posts_list', discussion: @discussion, posts: @posts) %>");
$('#new_post').find('textarea').val(' ');
<% else %>
$('#edit').html("<%= j(render 'show', discussion: @discussion, posts: @posts) %>");
$.fancybox.open($('#edit'), { fitToView: false, scrollOutside : true,
                            padding: 25,
                            closeBtn: false,
                            helpers:  { overlay : {locked : true} }   
                          });
<% end %>
