- videos.each do |v|
  .so-video
    / .so-video-title
    /   = video.title
    / .so-video-description
    /   = video.description
    .so-video-content
      .so-video-list-block{ 'data-js' => 'video' }
        .youtube[v]
          = link_to '', video_path(v), class: 'video so-video-link', data: { title: truncate(v.title, length: 20), youtube: v.content }, remote: true
          .sv-firm-video-link-bg
.clear
= paginate videos, param_name: :vi_page, remote: true