= simple_form_for(User.new, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
  .row
    .column
      %h5 Забыл пароль, паскуда?
      = f.input :email, required: true, autofocus: true, placeholder: 'E-mail', label: false
  .row
    .column
      = f.button :submit, 'Выслать', class: 'tiny'
