= simple_form_for [:admin, @discussion] do |f|
  - if @discussion.errors.any?
    #error_explanation
      %h2= "#{pluralize(@discussion.errors.count, "error")} prohibited this discussion from being saved:"
      %ul
        - @discussion.errors.full_messages.each do |msg|
          %li= msg
  = f.input :title    
  = f.input :short, as: :text 
  = f.input :description, as: :text
  = f.input :room_id, as: :select, collection: Room.all
  .actions
    = f.button :submit
