%h1 Listing discussions

%table
  %tr
    %th
    %th
    %th

  - @discussions.each do |discussion|
    %tr
      %td= discussion.title
      %td= link_to 'Show', polymorphic_path([:admin, discussion])
      %td= link_to 'Edit', edit_admin_discussion_path(discussion)
      %td= link_to 'Destroy', polymorphic_path([:admin, discussion]), :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Video', new_admin_discussion_path
