<% if params[:disc_page].present? %>
$('#so-discussions-list').html("<%= j(render 'discussions/short/discussions_list', discussions: @discussions) %>");
<% elsif params[:vi_page].present?%>
$('#so-videos-list').html("<%= j(render 'videos/short/videos_list', videos: @videos) %>");
<%end%>