/ Main Grid Section
.row
  .large-12.column
    #so-logo.panel
      #so-main-title
        .small-12.medium-6.large-6.columns
          %h1 #Евромайдан
          %h5 Самые свежие ахуитительные новости
    -# %img{src: "http://placehold.it/1600x600&text=Header"}/

#so-discussions-list
  = render 'discussions/discussions', discussions: @discussions
= link_to 'Загрузить ещё', discussions_path(:page => @discussions.next_page), id: 'load-more-discussions', class: 'button', remote: true if @discussions.next_page
-# .row
-#   .large-6.columns
-#     .panel
-#       %h5 Panel Title
-#       %p This is a six columns grid panel with an arbitrary height. Bacon ipsum dolor sit amet salami ham hock biltong ball tip drumstick sirloin pancetta meatball short loin.
-#   .large-2.columns
-#     .panel
-#       %p
-#         %img{src: "http://placehold.it/200x200"}/
-#   .large-4.columns
-#     .panel
-#       %h5 Panel Title
-#       %p This is a four columns grid panel with an arbitrary height. Bacon ipsum dolor sit amet salami.
-# .row
-#   .large-4.columns
-#     .panel
-#       %p
-#         %img{src: "http://placehold.it/400x300"}/
-#   .large-4.columns
-#     .panel
-#       %p
-#         %img{src: "http://placehold.it/400x300"}/
-#   .large-4.columns
-#     .panel
-#       %p
-#         %img{src: "http://placehold.it/400x300"}/
-# .row
-#   .large-6.columns
-#     .panel
-#       %h5 Panel Title
-#       %p This is a six columns grid panel with an arbitrary height. Bacon ipsum dolor sit amet salami ham hock biltong ball tip drumstick sirloin pancetta meatball short loin.
-#   .large-3.columns
-#     .panel
-#       %h5 Panel Title
-#       %p This is a three columns grid panel with an arbitrary height.
-#   .large-3.columns
-#     .panel
-#       %h5 Panel Title
-#       %p This is a three columns grid panel with an arbitrary height.
-# / End Grid Section
-#




-# .so-li-logo 
-# #so-content
-#   #so-logo
-#     .center
-#       %h1.big= link_to '#Евромайдан', '#' 
-#       sosnu.li
-#
-#   #so-discussions-list
-#     = render 'discussions/short/discussions_list', discussions: @discussions
-#
-# -# #sv-room-content
-# -#   #so-videos-list
-# -#     = render 'videos/short/videos_list', videos: @videos
-# -#   .clear
-# -#   .so-separation-line
-# -#     = link_to '/\\', '#', id: 'slide-center-up'
-# -#     = link_to '\\/', '#', id: 'slide-center-down'
-# -#   #so-discussions-list
-# -#     = render 'discussions/short/discussions_list', discussions: @discussions
