=  simple_form_for(User.new, url: new_user_session_path) do |f|
  .form-inputs
    .row
      .column
        = f.input :email, required: true, autofocus: true, placeholder: 'E-mail', label: false
    .row
      .column
        = f.input :password, required: true, placeholder: 'Пароль', label: false
  .form-actions
    .row
      .column
        = f.button :submit, 'Войти', class: 'tiny'

        = link_to 'Забыл пароль', '', id: 'so-remind-pass', 'data-js' => 'link-tab-forgot-password'
    / - binding.pry
    / - if !user_signed_in?
    /   = link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook)
    /   = link_to "Sign in with Vkontakte", user_omniauth_authorize_path(:vkontakte)
    //= render 'devise/shared/links'
