- discussions.each do |discussion|
  .so-discussion{class: "so-disc-id-#{discussion.id}"}
    .so-discussion-id
      = "#d#{discussion.id}"
    .so-discussion-title
      = discussion.title
    .so-discussion-short
      = discussion.short
    = link_to 'Перейти', discussion_path(discussion), remote: true, class: 'so-link-to-discussion hide'




-# = paginate discussions, param_name: :disc_page, remote: true
