
.title
  = discussion.title
.description
  = discussion.description

.content
  .so-discussion-posts-list
    = render 'discussions/posts_list', posts: @posts
  .so-new-post
    = simple_form_for [discussion, Post.new], remote: true do |f|
      = f.input :content, input_html: { maxlength: 20 }, label: false
      = f.button :submit, class: 'send-post'

