.so-discussion{
  margin: 0 5px 10px ;
  min-height: 80px;
  cursor: pointer; 
  border-bottom: 1px solid #003300;
}
.so-discussion-popup {
  width: 800px;
}

.so-discussion-popup .title{
  height: 50px;
  font-size: 26px;
  font-family: Lobster, Helvetica, sans-serif; 
  /*margin: 0 0 0 8px;*/
}

.so-discussion-popup .description{
  /*font-size: 15px;*/
  font-size: 1.20em;
  line-height: 150%;
}



.so-discussion-posts-list {
  width: 650px;

  /* border-left : 1px solid #006600; */
  /* border-right : 1px solid #006600; */
}
.so-discussion-title {
    font-family: Lobster, Helvetica, sans-serif; 
    font-size: 24px;
    color: #003300;
    margin: 0 0 8px;
    /* font-weight: 300; */
    /* line-height: 24px; */
    /* margin: 0; */
    /* padding: 4px 0 4px 20px; */
    /* white-space: nowrap; */
}

.so-discussion-id {
  color: grey;
  font-size: 10px;
}


.so-discussion-short {
  text-indent: 20px;
  text-align:justify;
  margin: 0 0 5px 15px;
}
