.so-post-content {
  word-wrap: break-word;
}

.so-post-info {
  height: 40px;
}

.so-post-info p {
  float: left;
  margin: 0 10px 0 0;
}

.so-post-content {
  height: 40px;
}

.so-post-show {

  border-bottom : 1px solid #006600;
}
