#sv-room-content {
  margin: 0;
}


#so-videos-list {
  width: 1200px;
  margin: 0 auto;
  height: 62%;
  overflow: hidden;  
} 
 .so-video {
  margin: 10px 25px;
  width: 350px;
  height: 175px;
}

.so-separation-line {
  width: 100%;
  height: 20px;
  /*margin-top:-20px;*/
  background-color: #006600;
  text-align: center;
  color: white;
  position:relative;
}
.so-separation-line a, .so-separation-line a:visited, 
.so-separation-line a:hover, .so-separation-line a:active {
    color: white;
    text-decoration: none;
}
/*.so-separation-down-line {
  width: 100%;
  height: 5px;
  background-color: grey;
  text-align: center;
  color: white;
}*/

.so-video-content {

}

#so-videos-list .pagination{
  float:left;
}
