@font-face {
  font-family: 'PTMonoRegular';
  src: url('PTM55F_W.eot');
  src: local('PT Mono'), local('PTMonoRegular'),
       url('PTM55F_W.eot?#iefix') format('embedded-opentype'),
       url('PTM55F_W.woff') format('woff'),
       url('PTM55F_W.ttf') format('truetype'),
       url('PTM55F_W.svg#PTMono-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face { 
  font-family: 'Lobster';
  src: url("Lobster.ttf"); 
} 

body {
// background-color: #003300;
}

button, .button {
  background-color: #336633;
}

button:hover, button:focus, .button:hover, .button:focus {
  background-color: #2c4d2c;
}

a {
  color: #006600
}

a:hover, a:focus {
  color: #003300
}



ul.so-modal-tabs li {
    display: block;
    float: left;
    font-size: 22px;
    line-height: 1em;
    margin: 0 28px 0 0;
    padding: 0;
}


ul.so-modal-tabs li.active a {
    color: #003300;
}

ul.so-modal-tabs li a {
    color: #B2B2B2;
    text-decoration: none;
}

#so-login {
  width: 300px;
  button, .button {
    margin: 0;
  }
}

#so-main-title {
padding: 80px 0 0 40px;
}

#so-remind-pass {
  font-size: 0.8075rem;
  margin: 0 0 0 10px;
}
button.tiny, .button.tiny {
    font-size: 0.8075rem;
}


#so-logo {
height: 350px;
// background-color: grey;
   background-image: url(image_path('logo.png'));
   background-position: 90% top;
   background-repeat: no-repeat;
   // background-size: 25%;
// width: 100%;
   h1 {
    font-size: 4em;
    font-weight: 500;
    line-height: 100%;
    margin-bottom: 0;   
   }
   h4 {
    font-size: 1.35em;
    font-weight: 300;
   }
}

#so-content {
  background-color: white;
  padding: 0 10px;
}


.main-panel {
  height: 150px;
}

.panel {
  border-color: #669966;
}
