= simple_form_for [:admin, @video] do |f|
  - if @video.errors.any?
    #error_explanation
      %h2= "#{pluralize(@video.errors.count, "error")} prohibited this video from being saved:"
      %ul
        - @video.errors.full_messages.each do |msg|
          %li= msg
  = f.input :title    
  = f.input :description, as: :text
  = f.input :content, as: :text
  = f.input :room_id, as: :select, collection: Room.all
  .actions
    = f.button :submit
