%h1 Listing videos

%table
  %tr
    %th
    %th
    %th

  - @videos.each do |video|
    %tr
      %td= video.title
      %td= link_to 'Show', polymorphic_path([:admin, video])
      %td= link_to 'Edit', edit_admin_video_path(video)
      %td= link_to 'Destroy', polymorphic_path([:admin, video]), :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Video', new_admin_video_path
