.row
  .large-12.columns
    %ul.button-group.left
      %li
        %a.button.tiny{href: "#"} Sosnu.li

    .button-group.right
      - if user_signed_in?
        = link_to user_name, '#', class: 'button tiny dropdown', 'data-dropdown' => 'drop'
        %br
        %ul#drop.f-dropdown{"data-dropdown-content" => ""}
          %li
            = link_to 'Выйти', destroy_user_session_path, method: :delete
      - else
        = link_to 'Вход', '#so-login', class: 'button tiny so-login'
