= render 'layouts/header_nav'

- unless user_signed_in?
  #so-login{style: "display:none;"}
    %ul.so-modal-tabs.clearfix
      %li.active= link_to 'Вход', '', 'data-js' => 'link-tab-login'
      %li= link_to 'Регистрация', '', 'data-js' => 'link-tab-register'
    .tab-content
      #tab-login.tab-pane.active.clearfix= render 'devise/sessions/new', data_view: :madal
      #tab-register.tab-pane= render 'devise/registrations/new', user: User.new
      #tab-forgot-password.tab-pane= render 'devise/passwords/new'
