!!!
%html
  %head
    %title Admin - sosnu.li
    = stylesheet_link_tag    'application', media: "all"
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    = render 'layouts/header'
    = yield
    = yield :role_sidebar
    = yield :role_main